* {
    font-family: roboto, serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F9FA;
}

body a {
    text-decoration: none;
    color: black;
    background-color: #F8F9FA;
}

.container {
    text-align: center;
    padding: 0 350px !important;
}

#title {

    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #D70018;
    color: #FBE6E8;
}

#title h2 {
    margin-top: 7px;
    font-size: 25px;
}


#content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    height: 90%;
    padding: 2% 20px;
}

#tableContent {
    height: 750px;
    width: 100%;
    border-radius: 30px;
    background-color: #FFFFFF;
    margin-top: 20px;
}

.divProduct {
    height: 270px;
    margin-left: 5%;
    width: 90%;
    padding-bottom: 5%;
    box-shadow: 1px 0px 15px 1px rgba(0.1, 0, 0, 0.3);
    border-radius: 20px;
    background-color: #F8F9FA;

}

.divProduct .thumbnail {
    height: 60%;
    width: 80%;
    display: block;
    background-color: #FBE6E8;
    margin: 30px 20px 20px 20px;
}

.divProduct .name {
    font-size: 20px;
    margin: 5px;
    text-align: left;
    margin-left: 15px;
}

.divProduct .divPrice {
    text-align: justify;
}

.divProduct .divPrice .price{
    font-size: 20px;
    color: #D70018;
}

.divProduct .divPrice .oldPrice{
    font-size: 13px;
    color: gray;
    text-decoration: line-through;
    margin-left: 30px;
}

.divProduct .bottomTitle {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.divProduct .bottomTitle .rate {
    margin-top: 12px;
    color: #EA9D02;
}

.divProduct .bottomTitle .rate .point {
    color: #EA9D02;
}

.page {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.page li {
    margin: 0 5px;
}