<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">

</head>
<body>
<div id="title">
    <div class="container"><h2>Smartphone</h2></div>
</div>
<div class="container">
    <div id="tableContent">
        <div id="content">
            <div th:each="product : ${pageData.getContent()}">
                <div class="divProduct" th:id="${product.getId()}">
                    <div class="thumbnail"></div>
                    <a th:href="|/product/get/detail/${product.getId()}|">
                        <h4 class="name" th:text="${product.getName()}"></h4>
                    </a>
                    <div class="bottomTitle">
                        <div class="divPrice">
                            <div th:if="${product.getPriceDiscount() == null && product.getPriceDiscount() == 0}">
                                <span class="price" th:text="${#numbers.formatDecimal(product.getPrice(), 0, 'POINT', 3, 'POINT').replaceAll('\\.0+$', '')}"></span>
                            </div>
                            <div th:if="${product.getPriceDiscount() != null && product.getPriceDiscount() != 0}">
                                <div class="price"><h4 th:text="${#numbers.formatDecimal(product.getPrice() - product.getPriceDiscount(), 0, 'POINT', 3, 'POINT').replaceAll('\\.0+$', '')}"></h4></div>
                                <div class="oldPrice"><h4 th:text="${#numbers.formatDecimal(product.getPrice(), 0, 'POINT', 3, 'POINT').replaceAll('\\.0+$', '')}"></h4></div>
                            </div>

                        </div>
                        <div class="rate">rate: <span class="point" th:text="|${product.getRating()}|"></span></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

        <div class="page">
            <ul style="display: flex; list-style-type: none" th:if="${pageData.getTotalPages() != 1}">
                <li th:if="${pageData.getCurrentPage() != 1}">
                    <button><a th:href="@{/product (page=${pageData.getCurrentPage() - 1})}">Trang trước</a></button>
                </li>

                <li th:each="number: ${#numbers.sequence(1, pageData.getTotalPages())}">
                    <button th:styleappend="${number == pageData.getCurrentPage() ? 'background-color: gray' : ''}">
                        <a th:href="@{/product (page=${number})}" th:text="${number}">Trang trước</a>
                    </button>
                </li>

                <li th:if="${pageData.getCurrentPage() != pageData.getTotalPages()}">
                    <button><a th:href="@{/product (page=${pageData.getCurrentPage() + 1})}">Trang sau</a></button>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>